/* General resets */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lexend Deca', sans-serif;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  line-height: 1.6;
}

/* Navbar Styles */
.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #333;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  z-index: 1000;
}

.navbar ul {
  list-style-type: none;
  display: flex;
}

.navbar ul li {
  margin: 0 15px;
}

.navbar ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
}

.navbar img {
  width: 70px; /* Adjust the size of the logo */
  height: auto;
}

/* Loading Animation */
.loading {
  display: flex;
  justify-content: center;
}

.loading-bar {
  width: 20px;
  height: 20px;
  background-color: #333;
  margin: 0 5
